@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@font-face {
    font-family: 'Abril Fatface';
    src: url('/fonts/AbrilFatface-Regular.ttf') format('ttf'),
        ;
    font-weight: normal;
    font-style: normal;
  }

  /* ant design customization */
  :where(.css-dev-only-do-not-override-vryruh).ant-modal .ant-modal-content {
    background-color: #F0F2F5;
  }
/* CustomRadio.css */
:where(.css-dev-only-do-not-override-vryruh) .ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
    border-color: #D9C771!important; /* Color when checked */
    background-color: #D9C771!important; /* Background color when checked */
}

:where(.css-dev-only-do-not-override-vryruh) .ant-radio-wrapper:hover .ant-radio-inner,
:where(.css-dev-only-do-not-override-vryruh) .ant-radio-wrapper .ant-radio-inner:hover {
    border-color: #D9C771!important; /* Hover border color */
}

:where(.css-dev-only-do-not-override-vryruh) .ant-radio-wrapper:hover .ant-radio-checked .ant-radio-inner {
    border-color: #D9C771!important; /* Ensures checked radio has the same color on hover */
}
:where(.css-dev-only-do-not-override-vryruh).ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-checked:not(.ant-checkbox-disabled) .ant-checkbox-inner {
  background-color: #D9C771!important;
}
:where(.css-dev-only-do-not-override-vryruh).ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-inner, :where(.css-dev-only-do-not-override-vryruh).ant-checkbox:not(.ant-checkbox-disabled):hover .ant-checkbox-inner {
  border-color: #D9C771!important;
}

:where(.css-dev-only-do-not-override-vryruh).ant-checkbox-checked .ant-checkbox-inner {
  background-color: #D9C771!important;
  border-color: #D9C771!important;
}
.ant-input, .ant-input-affix-wrapper{
  border-color: #D9C771!important;
}
.ant-input:hover, .ant-input-affix-wrapper:hover{
  border-color: #D9C771!important;
}
.ant-input:focus, .ant-input-affix-wrapper:focus{
  border-color: #D9C771!important;
}
.ant-input-affix-wrapper:focus{
  border-color: #D9C771!important;
}